:root {
    --light-gray: rgba(202, 202, 202, 1); /* Global scope variable */
    --dark-gray:rgba(167, 167, 167, 1); /* Another global variable */
    --background: rgba(239, 239, 239, 1);    /* Another global variable */
    --black: rgba(0, 0, 0, 1); /* Primary color variable */
    --white: rgba(255, 255, 255, 1); /* Secondary color variable */ 
    --blueselected: rgba(144, 203, 252, 0.356); /* Selected item color variable */  
    --very-light-gray: rgb(248, 248, 248); /* Very light gray color variable */ 
    --very-dark-gray: rgb(92, 92, 92); /* Very dark gray color variable */ 
    --blur-gray: rgba(223, 223, 223, 0.1);
    --blur-very-light-gray:  rgba(248, 248, 248, 0.753);
}
.top{
    background-color: none;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-content: center;
    border-bottom: 2px solid var(--light-gray);
}

.content{
    margin-top: 1vh;
    max-width: 100%;
    justify-self: center;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.logo-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.user-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.user{
    border-radius: 50%;
    border: 1px solid var(--light-gray);
    box-shadow: 0 2px 8px rgba(0,0,0,.22);
}
.icon-b{
    width: 50px;
    height: 50px;
    margin-left: 1.5vw;
    margin-right: 1.5vw
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: 
    "header" 
    "list";
}

.aulas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--very-light-gray);
    justify-self: start;
    align-self: start;
    gap: 10px;
    box-sizing: border-box;
}
.aula{
    background-color: var(--light-gray);
    border-radius: 5px;
    border: 1px solid var(--dark-gray);
    height: 5vh;
    aspect-ratio: 1 / 1;
     box-sizing: border-box;
     display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
    transition: scale .2s ease, box-shadow 0.5s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

section{
    margin-bottom: 5%; 
    display: flex;
    flex-direction: column;
}
#btn-apart{
    border: 1px solid var(--very-dark-gray);
    height: 5vh;
    width: 5vw;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 10px;
    transition: scale .2s ease, box-shadow 0.5s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
#btn-apart:hover, .aula:hover{
    scale: 1.1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);

}
.apartado{
    margin: 10px 0 10px 0px;
}

.checkbox{
    border-radius: 20px;
    height: 20px;
    width: 40px;
    outline: 2px solid var(--light-gray);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
}
.checkbox > div{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--light-gray);
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    right:auto;
    left: 0;
}
.checkbox > div.enable{
    right: 0;
    left: auto;
}

.select-fecha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    box-sizing: border-box;
}
.select-fecha > div{
    display: flex;
    flex-direction: column;
}