:root {
    --light-gray: rgba(202, 202, 202, 1); /* Global scope variable */
    --dark-gray:rgba(167, 167, 167, 1); /* Another global variable */
    --background: rgba(239, 239, 239, 1);    /* Another global variable */
    --black: rgba(0, 0, 0, 1); /* Primary color variable */
    --white: rgba(255, 255, 255, 1); /* Secondary color variable */ 
    --blueselected: rgba(144, 203, 252, 0.356); /* Selected item color variable */  
    --very-light-gray: rgb(248, 248, 248); /* Very light gray color variable */ 
    --very-dark-gray: rgb(92, 92, 92); /* Very dark gray color variable */ 
    --blur-gray: rgba(223, 223, 223, 0.1);
}
.top{
    background-color: none;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-content: center;
    border-bottom: 2px solid var(--light-gray);
}
.list{
    grid-area: list;
    display: grid;  
    height: auto;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "aula1 aula2 aula3"
    "aula4 aula5 aula6";
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    gap: 5vh 5vw; 
    padding: 10vh;
    overflow-y: auto;
    box-sizing: border-box;
}
#aula1{
    grid-area: aula1;
    box-sizing: border-box;
}
#aula2{
     grid-area: aula2;
     box-sizing: border-box;
}
#aula3{
     grid-area: aula3;
     box-sizing: border-box;
}
#aula4{
     grid-area: aula4;
     box-sizing: border-box;
}
#aula5{
     grid-area: aula5;
     box-sizing: border-box;
}
#aula6{
     grid-area: aula6;
     box-sizing: border-box;
}

.image{
    background-color: aqua;
    width: 80%;
    height: 80%;
    scale: 1/1;
    outline: 5px solid var(--light-gray);
    border-radius: 15px;
    box-sizing: border-box;
}
.image:hover{
    box-shadow: 0 0 50px 20px rgb(101, 226, 84);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.logo-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.user-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.user{
    border-radius: 50%;
    border: 1px solid var(--light-gray);
    box-shadow: 0 2px 8px rgba(0,0,0,.22);
}
.icon-b{
    width: 50px;
    height: 50px;
    margin-left: 1.5vw;
    margin-right: 1.5vw
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: 
    "header" 
    "list";
    box-sizing: border-box;
}

