:root {
    --light-gray: rgba(202, 202, 202, 1); /* Global scope variable */
    --dark-gray:rgba(167, 167, 167, 1); /* Another global variable */
    --background: rgba(239, 239, 239, 1);    /* Another global variable */
    --black: rgba(0, 0, 0, 1); /* Primary color variable */
    --white: rgba(255, 255, 255, 1); /* Secondary color variable */ 
    --blueselected: rgba(144, 203, 252, 0.356); /* Selected item color variable */  
    --very-light-gray: rgb(248, 248, 248); /* Very light gray color variable */ 
    --very-dark-gray: rgb(92, 92, 92); /* Very dark gray color variable */ 
    --blur-gray: rgba(223, 223, 223, 0.1);
    --blur-very-light-gray:  rgba(248, 248, 248, 0.753);
}
.top{
    background-color: none;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-content: center;
    border-bottom: 2px solid var(--light-gray);
}
.imagen{
    position: relative;
    background-color: var(--black);
    border-radius: 15px;
}
.list{
    display: grid;  
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2vw;
    padding: 32px;
    box-sizing: border-box;
}

.content{
    margin-top: 1vh;
    max-width: 100%;
    justify-self: center;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.top-view-calendar{
    margin-left: auto;
    margin-right: auto;
}

#aula1{
}

.carta{
    position: absolute;
    top: 46%; 
    transform-origin: top;
    height: 0%;
    z-index: -1;
    border-radius: 0px 0px 15px 15px;
    transition: height 0.5s ease;   
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
}                                
.elementos > *{
    opacity: 0;
    margin: auto;
    transition: opacity 1s ease 0.2s;
    
}
.elementos{
   padding: 6% 3% 0% 3%;
   
}

.renglon{
    border-bottom: 1px solid var(--light-gray);
    position: relative;
}
.renglon > p{
    margin: 3% 1% 3% 1%;
}
.tarjeta.abierta{
    grid-row: span 2;
    background-color: var(--white);
    z-index: 2;
    .image{
        border-radius: 15px 15px 0 0 ;
    }
    .carta{
        background-color: var(--very-light-gray);
        width: 100%;
        height: 52%;   
        outline: 5px solid var(--light-gray);
    }
    .elementos > *{
        opacity: 1;
    }
}

#aula2{
     
}
#aula3{
     
}
#aula4{
     
}
#aula5{
     
}
#aula6{

}

.image{
    background-color: aqua;
    outline: 5px solid var(--light-gray);
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
}

.aula:hover .image{
    box-shadow: 0 0 15px 5px rgb(101, 226, 84);
    transition: box-shadow 0.3s ease;
}

.logo-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.user-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.user{
    border-radius: 50%;
    border: 1px solid var(--light-gray);
    box-shadow: 0 2px 8px rgba(0,0,0,.22);
}
.icon-b{
    width: 50px;
    height: 50px;
    margin-left: 1.5vw;
    margin-right: 1.5vw
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: 
    "header" 
    "list";
}

.etiqueta{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0%;
    left: 0%;
    color: rgb(0, 0, 0);
    background-color: var(--blur-very-light-gray);
    opacity: 0;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px 10px 0px 0px;
    
}

.aula{
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    position: relative;
}

.aula:hover .etiqueta{
        display:block;
        opacity: 1;   
        transition: opacity 0.8s ease; 
}

.small{
    width: 10%;
    height: auto;
    min-width: 25px;
    min-height: auto;
    scale: 1/1;
    transition: scale 0.2s ease;
}
.icon{
    width: 3%;
    height: auto;
    min-width: 25px;
    min-height: auto;
    scale: 1/1;
    transition: scale 0.2s ease;
}
.despliegue{
    position: absolute;
    right: 0;
    filter: opacity(50%);
    transform: rotate(0deg);
    transition: transform 0.4s ease;
}

.despliegue.rotate{
    transform: rotate(180deg);
}

.bar-conf-aula{
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    margin: 5%;
    justify-content: space-between;
    opacity: 0;
    
}

.renglon:hover{
    .despliegue{
        scale: 1.2;
        cursor: pointer;
    }
}

.small:hover{
    scale: 1.2;
    cursor: pointer;
}

.aula:hover .bar-conf-aula{
        opacity: 1;   
        transition: opacity 0.8s ease; 
}
.inf-extra{
    display: flex; 
    flex-direction: row;
    border-top: 1px solid var(--light-gray);
    height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    transition: height 0.7s ease;
}

.inf-extra.abierto{
    height: 15vh;
}

.img-xtr{
    width: min-content;
    height: auto;
    margin-right: 2%;
}
.mtop-bot > p{
    margin-top: 12%;
    margin-bottom: 12%;
}