
html, body{
    width: 100%;
    height: 100%;
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 800px;
    height: 100%;

    justify-content: center;
    align-content:center ;
    background-color: red;

}
div{
    background-color: aqua;
    border: 2px solid black;
}

